<% first_product = Product.first %> 
<p>
  Product Name: "<%= first_product.name %>" " costs $<%= first_product.price %>
</p>
<p>
  The seller for this product is named '<%= first_product.user.name %>'
</p>

<%= product = Product.where(:name => 'rails book').first %>


<h2> Hello world! </h2>
<p>
  Find me in '<%= Rails.root.join("app", "views", "products", __FILE__ ) %>'
</p>

<% lots_of_products = Product.includes(:user).all %>

<ul>
	<% lots_of_products.each do |product| %>
	  <li>
	    Product Name:  "<%= product.name %>" "costs $<%= product.price %>
	    Sold by <%= product.user.name %>
	  </li>
	<% end %>  
</ul>
